<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status = "WARN">
    <Appenders>
        <Console name = "Console Appender" target="SYSTEM_OUT">
            <PatternLayout pattern = "%d{HH:mm:ss} [%t] %-10level %logger{20} -- %msg%n"/>
        </Console>
        <File name = "File Appender" fileName="logs/results.log">
            <PatternLayout pattern = "%d{HH:mm:ss} [%t] %-10level %logger{20} -- %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level = "info">
            <Appenderref ref = "Console Appender"/>
            <Appenderref ref = "File Appender"/>
        </Root>
    </Loggers>

</Configuration>